##############################################################################
#
# Custom configuration sample (can be linked to config/default.cfg)
#
##############################################################################

set sv_hostname "Custom dockerized warsow server"

set sv_maxclients "8"
set sv_skilllevel "1"

set sv_iplimit "8"

set g_gametype "dm"
set g_teams_maxplayers "8"
