##############################################################################
## Example de configuration :
##
## Les valeurs suivantes sont modifiées dans le fichier dedicated_autoexec.cfg
## à chaque démarrage
##
##############################################################################

set sv_hostname "Dockerized warsow server"

set sv_maxclients "8"
set sv_skilllevel "1"

set sv_iplimit "8"

set g_gametype "dm"
set g_teams_maxplayers "8"